<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="con" connectionString="Data Source=389fe76c-12d9-4453-9c9b-a40000af0a24.sqlserver.sequelizer.com;Initial Catalog=db389fe76c12d944539c9ba40000af0a24;User ID=nuqthnbavlnjacbl;Password=cucgNLEZEQhiosEXXkXk6aoDpcdSJhurwo8YNxZA7DWPBv5cwnM2m2BcgFZLHUpw"/>
    
  
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>
